// Header Base

.shell-header {
  height: $shell-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  z-index: 10;
  transition: all .2s;

  &.header-shadow {
    box-shadow: $box-shadow-default;
  }

  .shell-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding: 0 $layout-spacer-x;
    height: $shell-header-height;

    .shell-header-left {
      display: flex;
      align-items: center;
    }

    .shell-header-right {
      align-items: center;
      display: flex;
      margin-left: auto;
    }
  }

}

.shell-header__logo {
  padding: 0 $layout-spacer-x;
  height: $shell-header-height;
  width: $shell-sidebar-width;
  display: flex;
  align-items: center;
  transition: width .2s;

  .logo-src {
    height: $logo-height;
    width: $logo-width;
    //background: url('~assets/utils/images/logo-inverse.png');
  }
}

.shell-header__menu,
.shell-header__mobile-menu {
  display: none;
  padding: 0 $layout-spacer-x;
  height: $shell-header-height;
  align-items: center;
}

// Header Modifiers

@import "modifiers/fixed-header";


// Header Themes

//@import "themes/header-light";
//@import "themes/header-dark";
//@import "themes/header-inverted";
